
@font-face {
  font-weight: 200;
  font-family: 'Product Sans';
  src: url('../src/assests/fonts/ProductSans-Thin.ttf') format('truetype');
}
@font-face {
  font-weight: 200;
  font-style: italic;
  font-family: 'Product Sans';
  src: url('../src/assests/fonts/ProductSans-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 300;
  font-family: 'Product Sans';
  src: url('../src/assests/fonts/ProductSans-Light.ttf') format('truetype');
}
@font-face {
  font-weight: 300;
  font-style: italic;
  font-family: 'Product Sans';
  src: url('../src/assests/fonts/ProductSans-LightItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 400;
  font-family: 'Product Sans';
  src: url('../src/assests/fonts/ProductSans-Regular.ttf') format('truetype');
}
@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: 'Product Sans';
  src: url('../src/assests/fonts/ProductSans-RegularItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 600;
  font-family: 'Product Sans';
  src: url('../src/assests/fonts/ProductSans-Medium.ttf') format('truetype');
}
@font-face {
  font-weight: 600;
  font-style: italic;
  font-family: 'Product Sans';
  src: url('../src/assests/fonts/ProductSans-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 800;
  font-family: 'Product Sans';
  src: url('../src/assests/fonts/ProductSans-Bold.ttf') format('truetype');
}
@font-face {
  font-weight: 800;
  font-style: italic;
  font-family: 'Product Sans';
  src: url('../src/assests/fonts/ProductSans-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 900;
  font-family: 'Product Sans';
  src: url('../src/assests/fonts/ProductSans-Black.ttf') format('truetype');
}
@font-face {
  font-weight: 900;
  font-style: italic;
  font-family: 'Product Sans';
  src: url('../src/assests/fonts/ProductSans-BlackItalic.ttf') format('truetype');
}
